/* Always include process and resources config */
includeConfig '../process.config'

params {
  picard_path = '/hpc/cog_bioinf/common_scripts/picard-tools-2.22.0'
  fastq_path = '/hpc/cog_bioinf/ridder/users/tschafers/TEST_DATA/small_set'
  fastq_path_4 = '/hpc/cog_bioinf/ridder/users/tschafers/TEST_DATA/paired/merged'
  fastq_path_3  = '/hpc/cog_bioinf/ridder/users/tschafers/TEST_DATA/chr6_paired/fastq/CHR6_2'
  fastq_path_5 = '/hpc/cog_bioinf/ubec/useq/raw_data/nextseq_umc03/191216_NS500413_0657_AH2JTKBGXF/Data/Intensities/BaseCalls/HCLE116'
  star_index = '/hpc/cog_bioinf/GENOMES/STAR/Homo_sapiens.GRCh37'
  genome_gtf = '/hpc/cog_bioinf/GENOMES/STAR/Homo_sapiens.GRCh37/Homo_sapiens.GRCh37.74.gtf'
  genome_bed = '/hpc/cog_bioinf/ubec/tools/RSeQC/Homo_sapiens.GRCh37.74.bed12'
  genome_fasta = '/hpc/cog_bioinf/GENOMES/Homo_sapiens.GRCh37.GATK.illumina/Homo_sapiens.GRCh37.GATK.illumina.fa'
  genome_index = '/hpc/cog_bioinf/GENOMES/Homo_sapiens.GRCh37.GATK.illumina/Homo_sapiens.GRCh37.GATK.illumina.fa.fai'
  genome_dict = '/hpc/cog_bioinf/GENOMES/Homo_sapiens.GRCh37.GATK.illumina/Homo_sapiens.GRCh37.GATK.illumina.dict'
  salmon_index = '/hpc/cog_bioinf/GENOMES/RSEM/GRCh37/GRCh37_transcripts_salmon'
  out_dir = '/hpc/cog_bioinf/ridder/users/tschafers/NFX/output'
  genome_known_sites = ['/hpc/cog_bioinf/common_dbs/GATK_bundle/1000G_phase1.indels.b37.vcf',
  '/hpc/cog_bioinf/common_dbs/GATK_bundle/dbsnp_137.b37.vcf',
  '/hpc/cog_bioinf/common_dbs/GATK_bundle/Mills_and_1000G_gold_standard.indels.b37.vcf']
  scatter_interval_list = '/hpc/cog_bioinf/ubec/tools/Homo_sapiens.GRCh37.GATK.illumina.chromosomes.interval_list'
  gene_len = '/hpc/cog_bioinf/ridder/users/tschafers/NFX/data/Homo_sapiens.GRCh37.74_exon_gene_sizes.txt'
  scatter_count = '10'
  unstranded = false
  stranded = false
  revstranded = true
  singleEnd = false
  skipMergeLanes = true
  saveUnaligned = false
  skipPostQC = false
  skipMarkDup = false
  skipCount = false
  skipMapping = false
  skipSalmon = false
  skipFastp = false
  skipMultiQC = false
  skipGATK4_HC = true
  skipGATK4_BQSR = true
}
