/* Always include process and resources config */
includeConfig '../process.config'

params {
  fastq_path_2 = '/hpc/cog_bioinf/ridder/users/tschafers/TEST_DATA/paired'
  fastq_path = '/hpc/cog_bioinf/ridder/users/tschafers/TEST_DATA/chr6_paired'
  fastq_path_2 = '/hpc/cog_bioinf/ubec/useq/raw_data/nextseq_umc03/191216_NS500413_0657_AH2JTKBGXF/Data/Intensities/BaseCalls/HCLE116'
  star_index = '/hpc/cog_bioinf/GENOMES/STAR/Homo_sapiens.GRCh37'
  genome_gtf = '/hpc/cog_bioinf/GENOMES/STAR/Homo_sapiens.GRCh37/Homo_sapiens.GRCh37.74.gtf'
  genome_bed = '/hpc/cog_bioinf/ubec/tools/RSeQC/Homo_sapiens.GRCh37.74.bed12'
  genome_fasta = '/hpc/cog_bioinf/GENOMES/Homo_sapiens.GRCh37.GATK.illumina/Homo_sapiens.GRCh37.GATK.illumina.fa'
  genome_index = '/hpc/cog_bioinf/GENOMES/Homo_sapiens.GRCh37.GATK.illumina/Homo_sapiens.GRCh37.GATK.illumina.fa.fai'
  genome_dict = '/hpc/cog_bioinf/GENOMES/Homo_sapiens.GRCh37.GATK.illumina/Homo_sapiens.GRCh37.GATK.illumina.dict'
  star_twopassMode = 'Basic'
  htseq_mode = 'gene'
  strandness ="reverse"
  singleEnd = false
  markdup.toolOptions = ""
  splitncigarreads.toolOptions = ""
  skipTrimming = true
  skipFastQC = true
  skipPostQC = true
  skipMarkDup = false
  skipCount = true
  skipMapping = false
  skipGATK4 = false
  fastqc.optional = ""
  star_mem = '45G'
  htseq_mem = '35G'
  trim_galore_mem = '15G'
  sambamba_mem = '15G'
  index_mem = '15G'
  rseqc_mem = '35G'
  preseq_mem = '25G'
  markdup_mem = '25G'
  trim_galore_mem = '25G'
  fastqc_mem = '10G'
  splitncigarreads_mem = '25G'
}
