/* Always include process and resources config */
includeConfig '../process.config'

params {
  picard_path = '/hpc/cog_bioinf/common_scripts/picard-tools-2.22.0'
  fastq_path = '/hpc/cog_bioinf/ridder/users/tschafers/TEST_DATA/paired'
  fastq_path_4 = '/hpc/cog_bioinf/ridder/users/tschafers/TEST_DATA/paired/merged'
  fastq_path_3  = '/hpc/cog_bioinf/ridder/users/tschafers/TEST_DATA/chr6_paired/fastq/CHR6_3'
  fastq_path_2 = '/hpc/cog_bioinf/ubec/useq/raw_data/nextseq_umc03/191216_NS500413_0657_AH2JTKBGXF/Data/Intensities/BaseCalls/HCLE116'
  star_index = '/hpc/cog_bioinf/GENOMES/STAR/Homo_sapiens.GRCh37'
  genome_gtf = '/hpc/cog_bioinf/GENOMES/STAR/Homo_sapiens.GRCh37/Homo_sapiens.GRCh37.74.gtf'
  genome_bed = '/hpc/cog_bioinf/ubec/tools/RSeQC/Homo_sapiens.GRCh37.74.bed12'
  genome_fasta = '/hpc/cog_bioinf/GENOMES/Homo_sapiens.GRCh37.GATK.illumina/Homo_sapiens.GRCh37.GATK.illumina.fa'
  genome_index = '/hpc/cog_bioinf/GENOMES/Homo_sapiens.GRCh37.GATK.illumina/Homo_sapiens.GRCh37.GATK.illumina.fa.fai'
  genome_dict = '/hpc/cog_bioinf/GENOMES/Homo_sapiens.GRCh37.GATK.illumina/Homo_sapiens.GRCh37.GATK.illumina.dict'
  salmon_index = '/hpc/cog_bioinf/GENOMES/RSEM/GRCh37/GRCh37_transcripts_salmon'
  out_dir = '/hpc/cog_bioinf/ridder/users/tschafers/NFX/output'
  genome_known_sites = ['/hpc/cog_bioinf/common_dbs/GATK_bundle/1000G_phase1.indels.b37.vcf',
  '/hpc/cog_bioinf/common_dbs/GATK_bundle/dbsnp_137.b37.vcf',
  '/hpc/cog_bioinf/common_dbs/GATK_bundle/Mills_and_1000G_gold_standard.indels.b37.vcf']
  scatter_interval_list = '/hpc/cog_bioinf/ubec/tools/Homo_sapiens.GRCh37.GATK.illumina.chromosomes.interval_list'
  scatter_count = '10'
  star_twopassMode = 'Basic'
  htseq_mode = 'gene'
  strandness ="reverse"
  singleEnd = false
  markdup.toolOptions = ""
  alignreads.tooloptions = ""
  splitncigarreads.toolOptions = ""
  salmonquant.toolOptions = ""
  saveUnaligned = false
  skipPostQC = true
  skipMarkDup = false
  skipCount = true
  skipMapping = false
  skipGATK4 = false
  skipSalmon = true
  skipFastp = true
  fastqc.optional = ""
  star_mem = '35G'
  htseq_mem = '35G'
  trim_galore_mem = '15G'
  sambamba_mem = '15G'
  index_mem = '15G'
  rseqc_mem = '35G'
  preseq_mem = '25G'
  markdup_mem = '25G'
  trim_galore_mem = '25G'
  fastqc_mem = '10G'
  splitncigarreads_mem = '35G'
  salmon_mem = "25G"
  fastp_mem = '15G'
  fastp.toolOptions = '-q 30'
}
