includeConfig 'conf/nextflow.config'
includeConfig 'conf/process.config'
includeConfig 'conf/resources.config'

params {

    genome = 'genome_template'

    /*==========================ƒ
    workflow steps
    /*==========================*/
    // Pre-alignment processing.
    runTrimGalore = true
    runSortMeRNA = true

    // Alignment - STAR 
    runMapping = true

    // Counting - SubRead / FeatureCounts
    runFeatureCounts = true

    // Salmon
    runSalmon = false

    // QC
    runFastQC = true
    runMultiQC = true
    runPostQC = true
    runRSeQC_TIN = true

    // GATK (v4)
    runGermlineCallingGATK = false
    runGATK4_BQSR = true

    /*==========================
                  Settings
    /*==========================*/

    // Standard options
    singleEnd = true
    single_end = true

    gencode = false
    MergeFQ = true
    help= false
    customQC = true
        
    // Library strandedness
    stranded = true
    revstranded = false
    unstranded = false

   

}









