executor {
    $sge {
      queueSize = 1000
    }
    $slurm {
      queueSize = 1000
    }
}

profiles {
  sge {
    process.executor = 'sge'
    process.queue = 'all.q'
    process.clusterOptions = '-P compgen '
  }

  slurm {
    process.executor = 'slurm'
    process.clusterOptions = '--gres=tmpspace:10G '
    process.queue = 'cpu'
  }
}

report {
  enabled = true
}

singularity {
  enabled = true
  autoMounts = true
  runOptions = '-B /hpc -B $TMPDIR:$TMPDIR'
  cacheDir = '/hpc/local/CentOS7/cog_bioinf/singularity_cache'
}

cleanup = true
