includeConfig './conf/base.config'

executor {
    $sge {
      queueSize = 1000
      pollInterval = '30sec'
      queueStatInterval = '5min'
    }
    $slurm {
      queueSize = 1000
      pollInterval = '30sec'
      queueStatInterval = '5min'
    }
}

profiles {
  sge {
    process.executor = 'sge'
    process.queue = 'all.q'
    process.clusterOptions = '-P compgen '
  }

  slurm {
    process.executor = 'slurm'
    //process.clusterOptions = '--gres=tmpspace:25G'
    process.queue = 'cpu'
  }
}

report {
  enabled = true
  file = "$params.out_dir/log/nextflow_report.html"
}

trace {
  enabled = true
  file = "$params.out_dir/log/nextflow_trace.txt"
  fields = 'task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes,vol_ctxt,inv_ctxt'
}

timeline {
  enabled = true
  file = "$params.out_dir/log/nextflow_timeline.html"
}



singularity {
  enabled = true
  autoMounts = true
  runOptions = '-B /hpc -B $TMPDIR:$TMPDIR'
  cacheDir = '/hpc/local/CentOS7/cog_bioinf/singularity_cache'
}

cleanup = true



try {
  includeConfig "${params.genome_config}"
} catch (Exception e) {
  System.err.println("WARNING: Could not load genome config")
}











