profiles {

  sge {
    process.executor = 'sge'
    process.queue = 'all.q'
    process.clusterOptions = '-P compgen'
  }

  slurm {
    process.executor = 'slurm'
    process.queue = 'one'
  }

}

//Test settings
params.samplesheet = "samples.tsv"
params.outdir = "/hpc/cog_bioinf/ridder/users/tschafers/TEST_OUT"

//Tool path
params.star = "/hpc/local/CentOS7/cog_bioinf/STAR-STAR_2.4.2a/source/STAR"
params.fastqc = "/hpc/local/CentOS7/cog_bioinf/FastQ-v0.11.4/fastqc"


params.endness = "paired"
params.star_index = '/hpc/cog_bioinf/GENOMES/Homo_sapiens.GRCh37.GATK.illumina/STAR'
params.gtf = "/hpc/cog_bioinf/GENOMES/Homo_sapiens.GRCh37.GATK.illumina/Homo_sapiens.GRCh37.74.gtf"
params.htseq_count_mode = 'union'
params.htseq_count_strand = 'reverse'
params.htseq_count_feature = 'gene_id'
params.sambamba_listsize='20000'
