params {
  star_mem = '45G'
  htseq_mem = '10G'
  trim_galore_mem = '15G'
  sambamba_mem = '5G'
  index_mem = '10G'
  rseqc_mem = '10G'
  preseq_mem = '10G'
  markdup_mem = '10G'
  trim_galore_mem = '10G'
}

    

process {
    errorStrategy = 'retry'
    maxRetries = 1
    withLabel : 'TrimGalore_0_6_1' {
      container = '/hpc/cog_bioinf/ubec/tools/rnaseq_containers/trim-galore_0.6.1-squashfs-pack.gz.squashfs'
      time = '24h'
      penv = 'threaded'
      cpus = 4
    }
    withLabel : 'STAR_2_4_2a_alignReads' {
      container = '/hpc/cog_bioinf/ubec/tools/rnaseq_containers/star-2.4.2a-squashfs-pack.gz.squashfs'
      time = '24h'
      penv = 'threaded'
      cpus = 4
    }
    withLabel : 'htseq_count_0_6_0' {
      container = "/hpc/cog_bioinf/ubec/tools/rnaseq_containers/htseq_0.6.0-squashfs-pack.gz.squashfs"
      time = '24h'
      pe = 'threaded'
      cpus = 2
    }
    withLabel : 'SAMBAMBA_index_0_6_8' {
      container = "/hpc/cog_bioinf/ubec/tools/rnaseq_containers/sambamba_0.6.8-squashfs-pack.gz.squashfs"
      time = '24h'
      penv = 'threaded'
      cpus = 2
    }
    withLabel : 'RSeQC_2_6_1' {
      container = '/hpc/cog_bioinf/ubec/tools/rnaseq_containers/rseqc_2.6.1_R_3.6.1-squashfs-pack.gz.squashfs'
      time = '24h'
      penv = 'threaded'
      cpus = 4
    }
   withLabel : 'Preseq_2_0_3' {
      container = '/hpc/cog_bioinf/ubec/tools/rnaseq_containers/Preseq_2.0.3_Samtools_1.9-squashfs-pack.gz.squashfs'
      time = '24h'
      penv = 'threaded'
      cpus = 2
    }
   withLabel : 'SAMBAMBA_markdup_0_6_8' {
      container = "/hpc/cog_bioinf/ubec/tools/rnaseq_containers/sambamba_0.6.8-squashfs-pack.gz.squashfs"
      time = '24h'
      penv = 'threaded'
      cpus = 2
    }
}

