params {
  star_mem = '55G'
  htseq_mem = '25G'
  trim_galore_mem = '15G'
  sambamba_mem = '5G'
  index_mem = '15G'
  rseqc_mem = '15G'
  preseq_mem = '15G'
  markdup_mem = '15G'
  trim_galore_mem = '15G'
}

    

process {
    errorStrategy = 'retry'
    maxRetries = 1
    withLabel : 'FASTQC_0_11_5' {
      time = '24h'
      penv = 'threaded'
      cpus = 2
      memory = '10G'
    }
    withLabel : 'TrimGalore_0_6_1' {
      time = '24h'
      penv = 'threaded'
      cpus = 2
      memory = '10G'
    }
    withLabel : 'STAR_2_4_2a_alignReads' {
      time = '24h'
      penv = 'threaded'
      cpus = 2
      memory = '55G'
    }
    withLabel : 'HTSeq_0_6_0_count' {
      time = '24h'
      penv = 'threaded'
      cpus = 2
      memory = '25G'
    }
    withLabel : 'SAMBAMBA_0_6_8_index' {
      time = '24h'
      penv = 'threaded'
      cpus = 2
      memory = '10G'
    }
    withLabel : 'RSeQC_2_6_1' {
      time = '24h'
      penv = 'threaded'
      cpus = 2
      memory = '15G'
    }
   withLabel : 'Preseq_2_0_3_lc_extrap' {
      time = '24h'
      penv = 'threaded'
      cpus = 2
      memory = '15G'
    }
   withLabel : 'SAMBAMBA_markdup_0_6_8' {
      time = '24h'
      penv = 'threaded'
      cpus = 2
      memory = '15G'
    }
}

