params {
  out_dir = ''
  genome_known_sites = ''
}

process {
    errorStrategy = 'retry'
    maxRetries = 1
    withLabel : 'STAR_2_4_2a_AlignReads'  {
      time = '24h'
      penv = 'threaded'
      cpus = 2
      memory = '35G'	
      publishDir.path = "${params.out_dir}/STAR"
      publishDir.mode = 'copy'
    } 
    withLabel : 'SAMBAMBA_0_6_8_Index' {
      time = '24h'
      penv = 'threaded'
      cpus = 2
      memory = '15G'
      publishDir.path = "${params.out_dir}/STAR"
      publishDir.mode = 'copy'
    }
    withLabel : 'HTSeq_0_6_0_Count' {
      time = '24h'
      penv = 'threaded'
      cpus = 2
      memory = '25G'
      publishDir.path = "${params.out_dir}/HTSeq"
      publishDir.mode = 'copy'
    }
    withLabel: 'RSeQC_2_6_1' {
      time = '24h'
      penv = 'threaded'
      cpus = 2
      memory = '25G'	
      publishDir.path = "${params.out_dir}/QC/RSeQC"
      publishDir.mode = 'copy'
   }
   withLabel: 'Preseq_2_0_3' {
      time = '24h'
      penv = 'threaded'
      cpus = 2
      memory = '25G'
      publishDir.path = "${params.out_dir}/QC/Preseq"
      publishDir.mode = 'copy'
   }
   withLabel : 'SAMBAMBA_markdup_0_6_8' {
      time = '24h'
      penv = 'threaded'
      cpus = 2
      memory = '25G'
      publishDir.path = "${params.out_dir}/MarkDup"
      publishDir.mode = 'copy'
    }
    withLabel : 'GATK_4_1_3_0_SplitNCigarReads' {
      time = '24h'
      penv = 'threaded'
      cpus = 2
      memory = '35G'
      publishDir.path = "${params.out_dir}/GATK/SplitNCigar"
      publishDir.mode = 'copy'
    } 
    withLabel : 'Salmon_0_13_1_Quant' {
      time = '24h'
      penv = 'threaded'
      cpus = 2
      memory = '25G'
      publishDir.path = "${params.out_dir}/Salmon"
      publishDir.mode = 'copy'
    }
    withLabel : 'Fastp_0_14_1' {
      time = '24h'
      penv = 'threaded'
      cpus = 2
      memory = '15G'
      publishDir.path = "${params.out_dir}/QC/fastp"
      publishDir.mode = 'copy'
    }   
    withLabel: GATK_splitintervals_4_1_3_0{
      params.splitintervals.mem = '6G'
      params.splitintervals.toolOptions = ''
      memory = params.splitintervals.mem
      time = '1h'
    }
    withLabel : GATK_baserecalibrator_4_1_3_0 {
      params.baserecalibrator.mem = '9G'
      params.baserecalibrator.toolOptions = ''
      memory = params.baserecalibrator.mem
      time = '1h'
    }
    withLabel : GATK_gatherbaserecalibrator_4_1_3_0 {
      params.gatherbaserecalibrator.mem = '6G'
      memory = params.gatherbaserecalibrator.mem
      time = '1h'
   }
   withLabel : GATK_applybqsr_4_1_3_0 {
      params.applybqsr.mem = '9G'
      memory = params.applybqsr.mem
      time = '1h'
   }
   withLabel : GATK_haplotypecaller_4_1_3_0 {
      params.haplotypecaller.mem = '15G'
      params.haplotypecaller.toolOptions = '--dont-use-soft-clipped-bases --standard-min-confidence-threshold-for-calling 20.0'
      memory = params.haplotypecaller.mem
      time = '12h'
   }
   withLabel : GATK_combinegvcfs_4_1_3_0 {
      params.combinegvcfs.mem = '34G'
      params.splitintervals.toolOptions = ''
      memory = params.combinegvcfs.mem
      time = '12h'
      publishDir.path = "${params.out_dir}/GATK/vcf"
      publishDir.mode = 'copy'
      
   }
   withLabel : SAMBAMBA_mergebams_0_6_8 {
      params.mergebams.mem = '5G'
      params.mergebams.toolOptions = ''
      container = '/hpc/cog_bioinf/cuppen/personal_data/sander/scripts/Nextflow/Singularity-images/sambamba-0.6.8.squashfs'
      cpus = 10
      penv = 'threaded'
      memory = params.mergebams.mem
      time = '2h'
      publishDir.path = "${params.out_dir}/GATK/bam_recall"
      publishDir.mode = 'copy'
   }
   withLabel : Picard_2_10_3_AddOrReplaceReadGroups {
      params.picard.mem = '15G'
      container = '/hpc/local/CentOS7/cog_bioinf/nextflow_containers/picard_2.10.3-squashfs-pack.gz.squashfs'
      cpus = 2
      penv = 'threaded'
      memory = params.picard.mem
      time = '2h'
      publishDir.path = "${params.out_dir}/picard/rg_bam"
      publishDir.mode = 'copy'
   }

}

   
