includeConfig '../process.config'

params {
  genome_fasta = '/mnt/data/ccbc_environment/general/NextFlow/genomes/GRCh37_HMF/FASTA/Homo_sapiens.GRCh37.GATK.illumina.fasta'
  genome_gtf = '/mnt/data/ccbc_environment/general/NextFlow/genomes/GRCh37_HMF/Annotation/GENCODE/gencode.v34lift37.annotation_noChrPrefix.gtf'
  genome_bed = '/mnt/data/ccbc_environment/general/NextFlow/genomes/GRCh37_HMF/Annotation/GENCODE/gencode.v34lift37.annotation.bed12'
  transcripts_fasta = '/mnt/data/ccbc_environment/general/NextFlow/genomes/GRCh37_HMF/Annotation/GENCODE/gencode.v34.transcripts.fa'
  star_index = '/mnt/data/ccbc_environment/general/NextFlow/genomes/GRCh37_HMF/Indexes/STAR_2.7.3_GENCODEv34/'
  salmon_index = '/mnt/data/ccbc_environment/general/NextFlow/genomes/GRCh37_HMF/Indexes/Salmon_1.2.1_GENCODEv34/'

}

params.hg38 {
  genome_fasta = '/mnt/data/ccbc_environment/general/NextFlow/genomes/GRCh38/FASTA/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna'
  genome_gtf = '/mnt/data/ccbc_environment/general/NextFlow/genomes/GRCh38/Annotation/GENCODE/gencode.v34.annotation.gtf'
  genome_bed = '/mnt/data/ccbc_environment/general/NextFlow/genomes/GRCh38/Annotation/GENCODE/gencode.v34.annotation.bed12'
  transcripts_fasta = '/mnt/data/ccbc_environment/general/NextFlow/genomes/GRCh38/Annotation/GENCODE/gencode.v34.transcripts.fa'
  star_index = '/mnt/data/ccbc_environment/general/NextFlow/genomes/GRCh38/Indexes/STAR_2.7.3_GENCODEv34/'
  salmon_index = '/mnt/data/ccbc_environment/general/NextFlow/genomes/GRCh38/Indexes/Salmon_1.2.1_GENCODEv34/'
}
