params {
  genome_config = 'resources/test_run_full.config'
  rRNA_database_manifest = 'RNASeq-NF/resources/sortmerna-db-default.txt'
  fastq_path = ''
  out_dir = ''
  scatter_count = '100'
  unstranded = false
  stranded = false
  revstranded = true
  singleEnd = false
  hts_count_type = 'gene_id'
  fc_count_type = 'exon'
  fc_group_features = 'gene_id'
  skipMergeLanes = false
  saveUnaligned = false
  skipPostQC = true
  skipMarkDup = true
  skipHTSeqCount = true
  skipFeatureCounts = true
  skipMapping = true
  skipSalmon = true
  skipFastp = true
  skipSortMeRna = false
  skipMultiQC = true
  skipGATK4_HC = true
  skipGATK4_BQSR = true
  norm_rpkm = true
  //tool settings
  star.toolOptions = '--outReadsUnmapped Fastx --outSAMtype BAM SortedByCoordinate --readFilesCommand zcat --outSJfilterIntronMaxVsReadN 10000000 --chimJunctionOverhangMin 15 --chimSegmentMin 15'
  count.toolOptions = '-m union -r pos'
  preseq.toolOptions = "-v -B -D"
  markdup.toolOptions = '--overflow-list-size=2000000'
  splitintervals.toolOptions = '-SCATTER_COUNT 100 --UNIQUE true -M BALANCING_WITHOUT_INTERVAL_SUBDIVISION_WITH_OVERFLOW'
  variantfiltration.toolOptions = '--cluster-window-size 35 --cluster-size 3'
  baserecalibrator.toolOptions = ''
  mergevcfs.toolOptions = ''
  mergebams.toolOptions = ''
  haplotypecaller.toolOptions = '--standard-min-confidence-threshold-for-calling 20.0 --dont-use-soft-clipped-bases'
  multiqc.optional = '--interactive'
  fastp.toolOptions = '-q 30'
  fc.toolOptions = ''
  fc.extraAttributes = ''
  salmonindex.toolOptions = '--gencode'
  //Memory settings for SGE
  sambambamarkdup.mem = '32G'
  splitintervals.mem = '12G'
  baserecalibrator.mem = '9G'
  gatherbaserecalibrator.mem = '6G'
  applybqsr.mem = '9G'
  haplotypecaller.mem = '25G'
  mergevcf.mem = '14G'
  variantfiltration.mem = '10G'
  mergebams.mem = '5G'
  multiqc.mem = '4G'
  //reference parameters
  star_index = false
  transcripts_fasta = false
  genome_gtf = false
  genome_bed = false
  genome_fasta = false
  salmon_index = false
  genome_known_sites = false
  scatter_interval_list = false
  gene_len = false
}





