params {
  genome_config = '../resources/UMCU_GRCh37.config'
  fastq_path = ''
  out_dir = ''
  scatter_count = '100'
  unstranded = false
  stranded = false
  revstranded = true
  singleEnd = false
  hts_count_type = 'gene_id'
  fc_count_type = 'exon'
  fc_group_features = 'gene_id'
  skipMergeLanes = false
  saveUnaligned = false
  skipPostQC = false
  skipMarkDup = false
  skipCount = false
  skipMapping = false
  skipSalmon = false
  skipFastp = false
  skipMultiQC = false
  skipGATK4_HC = true
  skipGATK4_BQSR = true
  skipBuildReference = true
}

try {
  includeConfig "${params.genome_config}"
} catch (Exception e) {
  System.err.println("WARNING: Could not load genome config")
}
