params {

    //Default resource folder
    resource_dir = "/hpc/ubec/resources/"

    //These are set to empty by default and can/must be overwritten per genome when required (only works with empty values?)
//    genome_bed = ""
//    genome_known_sites = []
//    scatter_interval_list = ""
//    salmon_index = ""
//    transcripts_fasta = ""

    genomes {
//        "Drosophilia.BDGP6.32.toplevel" {
//            genome_fasta = "${params.resource_dir}/genomes/Drosophila_melanogaster.BDGP6.32/Drosophila_melanogaster.BDGP6.32.dna_sm.toplevel.fa"
//            genome_gtf = "${params.resource_dir}/genomes/Drosophila_melanogaster.BDGP6.32/Drosophila_melanogaster.BDGP6.32.105.gtf"
//            genome_bed = ""
//            genome_dict = "${params.resource_dir}/genomes/Drosophila_melanogaster.BDGP6.32/Drosophila_melanogaster.BDGP6.32.dna_sm.toplevel.fa.dict"
//            genome_index = "${params.resource_dir}/genomes/Drosophila_melanogaster.BDGP6.32/Drosophila_melanogaster.BDGP6.32.dna_sm.toplevel.fa.fai"
//            star_index = "${params.resource_dir}/tools/star/2.7.10b/Drosophila_melanogaster.BDGP6.32/toplevel"
//        }
        "Drosophilia.BDGP6.32.primary" {
            genome_fasta = "${params.resource_dir}/genomes/Drosophila_melanogaster.BDGP6.32/Drosophila_melanogaster.BDGP6.32.dna_sm.primary_assembly.fa"
            genome_gtf = "${params.resource_dir}/genomes/Drosophila_melanogaster.BDGP6.32/Drosophila_melanogaster.BDGP6.32.105.chr.gtf"
            genome_bed = ""
            genome_dict = "${params.resource_dir}/genomes/Drosophila_melanogaster.BDGP6.32/Drosophila_melanogaster.BDGP6.32.dna_sm.primary_assembly.dict"
            genome_index = "${params.resource_dir}/genomes/Drosophila_melanogaster.BDGP6.32/Drosophila_melanogaster.BDGP6.32.dna_sm.primary_assembly.fa.fai"
            star_index = "${params.resource_dir}/tools/star/2.7.10b/Drosophila_melanogaster.BDGP6.32/primary_assembly"
        }
        "EquCab3.0" {
            genome_fasta = "${params.resource_dir}/genomes/Equus_Caballus_3.0.104/Equus_caballus.EquCab3.0.dna.toplevel.fa"
            genome_gtf = "${params.resource_dir}/genomes/Equus_Caballus_3.0.104/Equus_caballus.EquCab3.0.104.gtf"
            genome_bed = ""
            genome_dict = "${params.resource_dir}/genomes/Equus_Caballus_3.0.104/Equus_caballus.EquCab3.0.dna.toplevel.dict"
            genome_index = "${params.resource_dir}/genomes/Equus_Caballus_3.0.104/Equus_caballus.EquCab3.0.dna.toplevel.fa.fai"
            star_index = "${params.resource_dir}/tools/star/2.7.3a/Equus_Caballus_3.0.104"
        }
        "Felis_Catus_9.0" {
            genome_fasta = "${params.resource_dir}/genomes/Felis_catus_9.0_ensembl/Felis_catus_9.0.dna.toplevel.fa"
            genome_gtf = "${params.resource_dir}/genomes/Felis_catus_9.0_ensembl/Felis_catus_9.0.dna.toplevel.gtf"
            genome_bed = ""
            genome_dict = "${params.resource_dir}/genomes/Felis_catus_9.0_ensembl/Felis_catus_9.0.dna.toplevel.dict"
            genome_index = "${params.resource_dir}/genomes/Felis_catus_9.0_ensembl/Felis_catus_9.0.dna.toplevel.fa.fai"
            star_index = "${params.resource_dir}/tools/star/2.7.3a/Felis_catus_9.0"
        }
        "GRCh37" {
            genome_fasta = "${params.resource_dir}/genomes/GRCh37/Sequence/genome.fa"
            genome_gtf = "${params.resource_dir}/genomes/GRCh37/Annotation/Homo_sapiens.GRCh37.74.gtf"
            genome_bed = "${params.resource_dir}/genomes/GRCh37/Annotation/Homo_sapiens.GRCh37.74.sorted.bed12"
            genome_dict = "${params.resource_dir}/genomes/GRCh37/Sequence/genome.dict"
            genome_index = "${params.resource_dir}/genomes/GRCh37/Sequence/genome.fa.fai"
            genome_known_sites = ["${params.resource_dir}/genomes/GRCh37/Annotation/1000G_phase1.indels.b37.vcf.gz",
                                  "${params.resource_dir}/genomes/GRCh37/Annotation/dbsnp_138.b37.vcf.gz",
                                  "${params.resource_dir}/genomes/GRCh37/Annotation/Mills_and_1000G_gold_standard.indels.b37.vcf.gz"]
            scatter_interval_list = "${params.resource_dir}/genomes/GRCh37/Sequence/genome.interval_list"
            star_index = "${params.resource_dir}/tools/star/2.7.10b/GRCh37"
            salmon_index = "${params.resource_dir}/tools/salmon/1.2.1/Homo_sapiens.GRCh37.75.cdna.all"
            transcripts_fasta = "${params.resource_dir}/tools/rsem/transcripts/Homo_sapiens.GRCh37/GRCh37.transcripts.fa"
        }
//        "GRCh38" {
//            genome_fasta = "${params.resource_dir}/genomes/GRCh38_GCA_000001405.15_no_alt/Sequence/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna"
//            genome_gtf = "${params.resource_dir}/genomes/GRCh38_GCA_000001405.15_no_alt/Annotation/Homo_sapiens.GRCh38.106.ncbi.gtf"
//            genome_bed = ""
//            genome_dict = "${params.resource_dir}/genomes/GRCh38_GCA_000001405.15_no_alt/Sequence/GCA_000001405.15_GRCh38_no_alt_analysis_set.dict"
//            genome_index = "${params.resource_dir}/genomes/GRCh38_GCA_000001405.15_no_alt/Sequence/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna.fai"
//            genome_known_sites = ["${params.resource_dir}/genomes/GRCh38_GCA_000001405.15_no_alt/Annotation/GATKBundle/beta/Homo_sapiens_assembly38.known_indels.vcf.gz",
//                                  "${params.resource_dir}/genomes/GRCh38_GCA_000001405.15_no_alt/Annotation/GATKBundle/dbsnp_146.hg38.vcf.gz",
//                                  "${params.resource_dir}/genomes/GRCh38_GCA_000001405.15_no_alt/Annotation/GATKBundle/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"]
//            scatter_interval_list = "${params.resource_dir}/tools/rnaseq-nf/genome_files/GRCh38_GCA_000001405.15_no_alt/Sequence/GCA_000001405.15_GRCh38_no_alt_analysis_set.interval_list"
//            star_index = "${params.resource_dir}/tools/star/2.7.10b/GRCh38_GCA_000001405.15_no_alt"
//        }
        "GRCh38_hs38d1" {
             genome_fasta = "${params.resource_dir}/genomes/GRCh38_GCA_000001405.15_no_alt_plus_hs38d1/GCA_000001405.15_GRCh38_no_alt_plus_hs38d1_analysis_set.fna"
             genome_gtf = "${params.resource_dir}/genomes/GRCh38_GCA_000001405.15_no_alt_plus_hs38d1/Homo_sapiens.GRCh38.106.ncbi.gtf"
             genome_bed = "${params.resource_dir}/genomes/GRCh38_GCA_000001405.15_no_alt_plus_hs38d1/annotation/Homo_sapiens.GRCh38.106.ncbi.sorted.bed12"
             genome_dict = "${params.resource_dir}/genomes/GRCh38_GCA_000001405.15_no_alt_plus_hs38d1/GCA_000001405.15_GRCh38_no_alt_plus_hs38d1_analysis_set.dict"
             genome_index = "${params.resource_dir}/genomes/GRCh38_GCA_000001405.15_no_alt_plus_hs38d1/GCA_000001405.15_GRCh38_no_alt_plus_hs38d1_analysis_set.fna.fai"
             genome_known_sites = [
                 "${params.resource_dir}/genomes/GRCh38_GCA_000001405.15_no_alt_plus_hs38d1/annotation/GATKBundle/beta/Homo_sapiens_assembly38.known_indels.vcf.gz",
                 "${params.resource_dir}/genomes/GRCh38_GCA_000001405.15_no_alt_plus_hs38d1/annotation/GATKBundle/dbsnp_146.hg38.vcf.gz",
                 "${params.resource_dir}/genomes/GRCh38_GCA_000001405.15_no_alt_plus_hs38d1/annotation/GATKBundle/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"]
            scatter_interval_list = "${params.resource_dir}/genomes/GRCh38_GCA_000001405.15_no_alt_plus_hs38d1/GCA_000001405.15_GRCh38_no_alt_plus_hs38d1_analysis_set.interval_list"
            star_index = "${params.resource_dir}/tools/star/2.7.10b/GRCh38_GCA_000001405.15_no_alt_plus_hs38d1/"
        }
//        "GRCh38_ncbigtf" {
//            genome_fasta = "${params.resource_dir}/genomes/GRCh38_GCA_000001405.15_no_alt/Sequence/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna"
//            genome_gtf = "${params.resource_dir}/genomes/GRCh38_GCA_000001405.15_no_alt/Annotation/GCA_000001405.15_GRCh38_full_analysis_set.refseq_annotation.gtf"
//            genome_bed = "${params.resource_dir}/genomes/GRCh38_GCA_000001405.15_no_alt_ncbigtf/Annotation/GCA_000001405.15_GRCh38_full_analysis_set.refseq_annotation.sorted.bed12"
//            genome_dict = "${params.resource_dir}/genomes/GRCh38_GCA_000001405.15_no_alt/Sequence/GCA_000001405.15_GRCh38_no_alt_analysis_set.dict"
//            genome_index = "${params.resource_dir}/genomes/GRCh38_GCA_000001405.15_no_alt/Sequence/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna.fai"
//            genome_known_sites = ["${params.resource_dir}/genomes/GRCh38_GCA_000001405.15_no_alt/Annotation/GATKBundle/beta/Homo_sapiens_assembly38.known_indels.vcf.gz",
//                                  "${params.resource_dir}/genomes/GRCh38_GCA_000001405.15_no_alt/Annotation/GATKBundle/dbsnp_146.hg38.vcf.gz",
//                                  "${params.resource_dir}/genomes/GRCh38_GCA_000001405.15_no_alt/Annotation/GATKBundle/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"]
//            scatter_interval_list = "${params.resource_dir}/tools/rnaseq-nf/genome_files/GRCh38_GCA_000001405.15_no_alt/Sequence/GCA_000001405.15_GRCh38_no_alt_analysis_set.interval_list"
//            star_index = "${params.resource_dir}/tools/star/2.7.3a/GRCh38_GCA_000001405.15_no_alt_ncbigtf"
//        }
        "GRCm38" {
            genome_fasta = "${params.resource_dir}/genomes/Mus_musculus.GRCm38/Mm_GRCm38_gatk_sorted.fasta"
            genome_index = "${params.resource_dir}/genomes/Mus_musculus.GRCm38/Mm_GRCm38_gatk_sorted.fasta.fai"
            genome_dict = "${params.resource_dir}/genomes/Mus_musculus.GRCm38/Mm_GRCm38_gatk_sorted.dict"
            genome_gtf = "${params.resource_dir}/genomes/Mus_musculus.GRCm38/Mus_musculus.GRCm38.70.gtf"
            genome_bed = "${params.resource_dir}/genomes/Mus_musculus.GRCm38/Mus_musculus.GRCm38.70.sorted.bed12"
            star_index = "${params.resource_dir}/tools/star/2.7.10b/Mus_musculus.GRCm38/"
        }
        "GRCm38_102" {
            genome_fasta = "${params.resource_dir}/genomes/Mus_musculus.GRCm38.102/Mus_musculus.GRCm38.102.dna.primary_assembly.fa"
            genome_index = "${params.resource_dir}/genomes/Mus_musculus.GRCm38.102/Mus_musculus.GRCm38.102.dna.primary_assembly.fa.fai"
            genome_dict = "${params.resource_dir}/genomes/Mus_musculus.GRCm38.102/Mus_musculus.GRCm38.102.dna.primary_assembly.dict"
            genome_gtf = "${params.resource_dir}/genomes/Mus_musculus.GRCm38.102/Mus_musculus.GRCm38.102.gtf"
            genome_bed = ""
            star_index = "${params.resource_dir}/tools/star/2.7.10b/Mus_musculus.GRCm38.102/"
        }        
        "CanFam3.1" {
            genome_fasta = "${params.resource_dir}/genomes/CanFam3.1.103/Canis_lupus_familiaris.CanFam3.1.dna.toplevel.fa"
            genome_index = "${params.resource_dir}/genomes/CanFam3.1.103/Canis_lupus_familiaris.CanFam3.1.dna.toplevel.fa.fai"
            genome_dict = "${params.resource_dir}/genomes/CanFam3.1.103/Canis_lupus_familiaris.CanFam3.1.dna.toplevel.dict"
            genome_gtf = "${params.resource_dir}/genomes/CanFam3.1.103/Canis_lupus_familiaris.CanFam3.1.103.gtf"
            genome_bed = ""
            star_index = "${params.resource_dir}/tools/star/2.7.3a/CanFam3.1.103"
        }
        "ITAG4.0" {
            genome_fasta = "${params.resource_dir}/genomes/Solanum_lycopersicum.ITAG4.0/S_lycopersicum_chromosomes.4.00.fa"
            genome_index = "${params.resource_dir}/genomes/Solanum_lycopersicum.ITAG4.0/S_lycopersicum_chromosomes.4.00.fa.fai"
            genome_dict = "${params.resource_dir}/genomes/Solanum_lycopersicum.ITAG4.0/S_lycopersicum_chromosomes.4.00.dict"
            genome_gtf = "${params.resource_dir}/genomes/Solanum_lycopersicum.ITAG4.0/ITAG4.0_gene_models.gtf"
            genome_bed = ""
            star_index = "${params.resource_dir}/tools/star/2.7.3a/Solanum_lycopersicum.ITAG4.0/"
        }
        "ITAG4.0_ANN4.1" {
            genome_fasta = "${params.resource_dir}/genomes/Solanum_lycopersicum.ITAG4.0_ANN4.1/S_lycopersicum_chromosomes.4.00.fa"
            genome_index = "${params.resource_dir}/genomes/Solanum_lycopersicum.ITAG4.0_ANN4.1/S_lycopersicum_chromosomes.4.00.fa.fai"
            genome_dict = "${params.resource_dir}/genomes/Solanum_lycopersicum.ITAG4.0_ANN4.1/S_lycopersicum_chromosomes.4.00.dict"
            genome_gtf = "${params.resource_dir}/genomes/Solanum_lycopersicum.ITAG4.0_ANN4.1/ITAG4.1_gene_models.gtf"
            genome_bed = ""
            star_index = "${params.resource_dir}/tools/star/2.7.3a/Solanum_lycopersicum.ITAG4.0_ANN4.1/"
        }
        "UMCU_CholrocebusSabaeus_1.1" {
            genome_fasta = "${params.resource_dir}/genomes/Chlorocebus_sabaeus/Chlorocebus_sabaeus.ChlSab1.1.dna.toplevel.fa"
            genome_index = "${params.resource_dir}/genomes/Chlorocebus_sabaeus/Chlorocebus_sabaeus.ChlSab1.1.dna.toplevel.fa.fai"
            genome_dict = "${params.resource_dir}/genomes/Chlorocebus_sabaeus/Chlorocebus_sabaeus.ChlSab1.1.dna.toplevel.dict"
            genome_gtf = "${params.resource_dir}/genomes/Chlorocebus_sabaeus/Chlorocebus_sabaeus.ChlSab1.1.103.gtf"
            genome_bed = ""
            star_index = "${params.resource_dir}/tools/star/2.7.3a/Chlorocebus_sabaeus"
        }
        "LK_LSativa_v8" {
            genome_fasta = "/hpc/uu_lk/GENOMES/LGR_CoGe/Lactuca_sativa_cv_Salinas_V8/sequence/Lactuca_sativa_lettuce.fa"
            genome_dict = "/hpc/uu_lk/GENOMES/LGR_CoGe/Lactuca_sativa_cv_Salinas_V8/sequence/Lactuca_sativa_lettuce.dict"
            genome_index = "/hpc/uu_lk/GENOMES/LGR_CoGe/Lactuca_sativa_cv_Salinas_V8/sequence/Lactuca_sativa_lettuce.fa.fai"
            genome_gtf = "/hpc/uu_lk/GENOMES/LGR_CoGe/Lactuca_sativa_cv_Salinas_V8/annotation/Lactuca_sativa_lettuce_rename.gtf"
            genome_bed = "/hpc/uu_lk/GENOMES/LGR_CoGe/Lactuca_sativa_cv_Salinas_V8/annotation/Lactuca_sativa_lettuce_rename.sorted.bed12"
            transcripts_fasta = "/hpc/uu_lk/GENOMES/LGR_CoGe/Lactuca_sativa_cv_Salinas_V8/sequence/transcripts/RSEM_Lsv8.transcripts.fa"
            star_index = "/hpc/uu_lk/GENOMES/LGR_CoGe/Lactuca_sativa_cv_Salinas_V8/STAR/Lactuca_sativa_lettuce"
            salmon_index = "/hpc/uu_lk/GENOMES/LGR_CoGe/Lactuca_sativa_cv_Salinas_V8/Salmon/RSEM_Lsv8.transcripts"
        }
        "LK_LSaligna_v4" {
            genome_fasta = "/hpc/uu_lk/GENOMES/Lactuca_saligna/Lactuca_saligna.fa"
            genome_dict = "/hpc/uu_lk/GENOMES/Lactuca_saligna/Lactuca_saligna.dict"
            genome_index = "/hpc/uu_lk/GENOMES/Lactuca_saligna/Lactuca_saligna.fa.fai"
            genome_gtf = "/hpc/uu_lk/GENOMES/Lactuca_saligna/Lactuca_saligna.gtf"
            genome_bed = ""
            transcripts_fasta = ""
            star_index = "/hpc/uu_lk/GENOMES/Lactuca_saligna/star_v2.7.10b"
            salmon_index = ""
        }
        "LK_Lvirosa" {
            genome_fasta = "/hpc/uu_lk/GENOMES/Lactuta_virosa/Lactuca_virosa.fa"
            genome_dict = "/hpc/uu_lk/GENOMES/Lactuta_virosa/Lactuca_virosa.dict"
            genome_index = "/hpc/uu_lk/GENOMES/Lactuta_virosa/Lactuca_virosa.fa.fai"
            genome_gtf = "/hpc/uu_lk/GENOMES/Lactuta_virosa/Lactuca_virosa.agat.gtf"
            genome_bed = ""
            transcripts_fasta = ""
            star_index = "/hpc/uu_lk/GENOMES/Lactuta_virosa/star_v2.7.10b"
            salmon_index = ""
        }
        "TAIR_v10_arabidopsis" {
            genome_fasta = "${params.resource_dir}/genomes/TAIR10/TAIR10_chr_all.fas"
            genome_gtf = "${params.resource_dir}/genomes/TAIR10/Araport11_GTF_genes_transposons.Mar202021.reformat.gtf"
            genome_bed = ""
            genome_dict = "${params.resource_dir}/genomes/TAIR10/TAIR10_chr_all.dict"
            genome_index = "${params.resource_dir}/genomes/TAIR10/TAIR10_chr_all.fas.fai"
            star_index = "${params.resource_dir}/tools/star/2.7.3a/TAIR10_arabidopsis"
        }
        "TAIR_v10_ensembl" {
            genome_fasta = "${params.resource_dir}/genomes/TAIR10/Arabidopsis_thaliana.TAIR10.dna_sm.toplevel.fa"
            genome_gtf = "${params.resource_dir}/genomes/TAIR10/Arabidopsis_thaliana.TAIR10.51.gtf"
            genome_bed = ""
            genome_dict = "${params.resource_dir}/genomes/TAIR10/Arabidopsis_thaliana.TAIR10.dna_sm.toplevel.dict"
            genome_index = "${params.resource_dir}/genomes/TAIR10/Arabidopsis_thaliana.TAIR10.dna_sm.toplevel.fa.fai"
            star_index = "${params.resource_dir}/tools/star/2.7.3a/TAIR10_ensembl"
        }
    }
}

        