/* Always include process and resources config */
includeConfig '../process.config'
includeConfig '../resources/UMCU_GRCh37.config'

params {
  run_name = 'KRE_TEST'
  scatter_count = '100'
  unstranded = false
  stranded = false
  revstranded = true
  singleEnd = false
  fc_count_type = 'CDS'
  fc_group_features = 'gene_id'
  skipMergeLanes = false
  saveUnaligned = false
  skipPostQC = false
  skipMarkDup = false
  skipCount = false
  skipMapping = false
  skipSalmon = false
  skipFastp = true
  skipMultiQC = true
  skipGATK4_HC = false
  skipGATK4_BQSR = false
}
