params {
  
  //Default steps
  runPostQC = true
  runMarkDup = true
  runHTSeqCount = false
  runFeatureCounts = true
  runMapping = true
  runSalmon = false
  runTrimGalore = true
  runSortMeRna = true
  runMultiQC = true
  runGATK4_HC = false
  runGATK4_BQSR = false

  //Global settings
  fastq_path = ""
  out_dir = ""
  gencode = true
  singleEnd = false

  //Resources  
  genome_config = "$baseDir/conf/test_genome.config"
  rRNA_database_manifest = "$baseDir/assets/sortmerna-db-default.txt"

  //Library strandedness 
  stranded = false
  revstranded = true
  unstranded = false

  //HTSeq count settings
  hts_count_type = 'exon'
  hts_group_features = 'gene_id'
  count.toolOptions = '-m union -r pos'

  //featureCounts settings (do not add -p). It is set dynamically based on singleEnd parameter).
  fc.toolOptions = ''
  fc_extra_attributes = 'gene_name'
  fc_group_features = 'gene_id'
  fc_count_type = 'exon'
  fc_group_features_type = 'gene_id'
  normalize_counts = true


  //TrimGalore settings
  trimgalore.toolOptions = '--fastqc'

  //Sambamba settings
  markdup.toolOptions = '--overflow-list-size=2000000'
  sambambamarkdup.mem = '32G'

  //STAR settings
  star.toolOptions = ''

  //Post-mapping QC
  preseq.toolOptions = "-v -B -D"

  //MultiQC settings
  multiqc.optional = '--interactive'
  multiqc.mem = '4G'

}
