params {
  unstranded = false
  stranded = true
  revstranded = false
  singleEnd = false
  fc_count_type = 'exon'
  fc_group_features = 'gene_id'
  skipPostQC = false
  skipMarkDup = false
  skipMapping = false
  skipSalmon = false
  skipMultiQC = false
  skipGATK4_HC = false
  skipGATK4_BQSR = false
}
