/* Always include process and resources config */
includeConfig '../process.config'
includeConfig '../resources/UMCU_GRCh37.config'

params {
  scatter_count = '100'
  unstranded = false
  stranded = false
  revstranded = true
  singleEnd = false
  hts_count_type = 'gene_id'
  fc_count_type = 'CDS'
  fc_group_features = 'gene_id'
  skipMergeLanes = false
  saveUnaligned = false
  skipPostQC = true
  skipMarkDup = true
  skipCount = false
  skipMapping = false
  skipSalmon = true
  skipFastp = true
  skipMultiQC = true
  skipGATK4_HC = true
  skipGATK4_BQSR = true
}
